<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="application/application/tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false"
	verbose="true">
	<testsuites>
        <testsuite name="TestFridgeModel">
            <file>application/application/tests/models/FridgeTest.php</file>
        </testsuite>
        <testsuite name="TestSupermercadoModel">
            <file>application/application/tests/models/SupermercadoTest.php</file>
        </testsuite>
        <testsuite name="TestUserModel">
            <file>application/application/tests/models/UserTest.php</file>
        </testsuite>
        <testsuite name="TestCompraModel">
            <file>application/application/tests/models/CompraTest.php</file>
        </testsuite>
		<testsuite name="TestLogin_auth">
            <file>application/application/tests/libraries/Login_authTest.php</file>
		</testsuite>
        <testsuite name="TestMy_PHPMailer">
            <file>application/application/tests/libraries/My_PHPMailerTest.php</file>
        </testsuite>
        <testsuite name="TestSupermercado_library">
            <file>application/application/tests/libraries/Supermercado_libraryTest.php</file>
        </testsuite>
        <testsuite name="TestFridge_library">
            <file>application/application/tests/libraries/Fridge_libraryTest.php</file>
        </testsuite>
        <testsuite name="TestCompra_library">
            <file>application/application/tests/libraries/Compra_libraryTest.php</file>
        </testsuite>
	</testsuites>
     <filter>
        <blacklist>
            <directory suffix=".php">application/application/config</directory>
            <directory suffix=".php">application/application/controllers</directory>
            <directory suffix=".php">application/application/core</directory>
            <directory suffix=".php">application/application/libraries/PHPMailer</directory>
            <directory suffix=".php">application/application/tests/mockups</directory>
            <directory suffix=".php">application/system</directory>
            <file>application/application/tests/bootstrap.php</file>
            <file>application/application/tests/database_inflater.php</file>
            <file>application/application/tests/PHPTest_Unit.php</file>
        </blacklist>
    </filter>
	<php>
		<const name="PHPUNIT_TEST" value="1" />
		<const name="PHPUNIT_CHARSET" value="UTF-8" />
		<const name="REMOTE_ADDR" value="217.0.0.1" />
	</php>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-clover" target="coverage/clover.xml"/>
    </logging>
</phpunit>