/*
 * Skeleton
*/

header.navbar {
	margin-left: -15px;
    margin-right: -15px;
	height: 30px;
	min-height: 30px;
}

header .navbar {
	margin-bottom: 0
}

header .navbar-brand {
	height: auto;
	padding: 5px 0;
}

header .navbar-header {
	width: 75px;
}

header .navbar-nav > li > a {
	padding: 5px 20px;
}

header {
	background-color: #eee;
}

header .nav > li > a:hover, header .nav > li > a:focus,
header .nav > li.open > a:focus {
	background-color: transparent;
}

#content-center {
	background: transparent;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 50px;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    transition: all 0.3s ease 0s;
}

#content-center > .container {
	height: 100%;
	overflow-y: auto;
	overflow-x: none;
}

#content-center > .container > div {
	height: 100%;
}

#menu-left {
	overflow: hidden;
	background-color: #FFF;
	min-height: 100%;
	border-radius: 4px;
}

#main {
	background-color: #FFF;
	min-height: 100%;
	border-radius: 4px;
}

/*
 * Fridge
*/

#fridge .page-header {
    margin-top: 25px
}

#fridge .page-header > h1 {
    background: url(/resources/img/tablon/fridge.png) no-repeat left center;
    padding-top: 10px;
    padding-left: 50px;
}

/*
 * Supermercados y productos del frigorífico
*/

.caja-item  {
    padding: 20px 1%;
}

.caja-item .item {
    border: 1px solid #eee;
    border-radius: 5px;
    padding-top: 65px;
    cursor: pointer;
    text-align: center;
    position: relative
}

.caja-item .item:hover,
.caja-item .item.active {
    background-color: #eee !important;
}

.caja-item .titulo {
    font-size: 16px;
}

.caja-item .top-right-badge {
    position: absolute;
    top: 8px;
    right: 8px
}

.caja-item .item.supermercado {
    background: url(/resources/img/tablon/supermercado.png) no-repeat center 20px;
}

.caja-item .item.producto {
    background: url(/resources/img/tablon/producto.png) no-repeat center 20px;
}

.caja-item .item.compra {
    background: url(/resources/img/tablon/compra.png) no-repeat center 20px;
}

.caja-item .item .info {
    border: 1px solid #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
    left: 3%;
    position: absolute;
    text-align: left;
    width: 94%;
    background-color: #FFF;
    z-index: 1;
    display: none
}

.caja-item .item .info p {
    margin: 0;
    margin: 3px 0 0 10px;
}

.caja-item .item .info strong {
    margin-left: 10px
}

/*
 * Busqueda de productos
*/

.busqueda {
    cursor: pointer;
}

.busqueda:hover {
    background-color: #eee;
}

.busqueda td.left {
    width: 100px;
    vertical-align: middle;
    text-align: center
}

.busqueda img {
    margin: 0 25px
}

.busqueda p {
    margin: 0;
}

/*
 * Compra
*/

#compra .total {
    text-align: right;
}